* {
    font-family: "ＭＳ Ｐゴシック", serif;
}

body {
    background-image: url('stars4.gif');
}

#container {
    width: 800px;
    margin: 0 auto;
}

#header {
    height: 130px;
    font-size: 80px;
    font-style: italic;
    font-weight: bold;
    color: rgb(255, 0, 98)
}

#bar {
    height: 30px;
    margin: 0 auto;

    border-style: double;
}

#body {
    display: flex;
    border-style: double;
}

#left {
    width: 20%;
    padding: 15px 2px 15px 2px;

    border-style: double;
}

#right {
    color: white;
    width: 25%;
    padding: 15px 2px 15px 2px;

    border-style: double;
}

#content {
    width: 80%;
    margin-right: 3px;
}

#content_section {
    margin-bottom: 20px;

    padding: 5px 20px 20px 20px;

    border: 5px;
    border-style: solid;
    border-color: rgb(255, 0, 89); 
    border-radius: 5px;

    background-image: url('water.jpg');
}

#card_holder {
    margin-bottom: 10px;
    margin-top: 10px;

    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-style: double;
    border-width: 4 px;
    border-radius: 25px;

    text-align: center;
}

#card_question {
    height: 15%;
    font-weight: bold;
    font-size: x-large;
}

#card_result {
    height: 70%;
}

#content_section_header {
    margin-top: 5px;
    margin-bottom: 5px;
}

#card_separator {
    width: 90%;
}

button.click { 
    width: 90%;
    height: 30px;

    border: none;
    font-style: oblique;
    font-size: x-large;

    background: none;
}

button.click:hover{ 
    width: 90%;
    height: 30px;

    font-style: oblique;
    font-size: x-large;

    background-color: rgba(255, 255, 255, 0.2)
}

#footer {
    height: 25px;
    color: white;
}
    