* {
    font-family: "ＭＳ Ｐゴシック", serif;
    letter-spacing: 1.5px;

    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated
}

body {
    background-image: url('assets/stars4.gif');
}

#container {
    width: 800px;
    margin: 0 auto;
}

#header {
    height: 130px;
}

#bar {
    height: 30px;
    margin: 0 auto;

    border-style: double;
}

#body {
    display: flex;
    border-style: double;
}

#left {
    width: 25%;
}

#left_section {
    margin-bottom: -10px;
    padding: 5px 5px 15px 5px;
    background-color: black;
    color: yellow;

    border-color: greenyellow;
    border-radius: 5px 5px 0px 0px;
    border-width: 3px;
    border-style: ridge ridge none ridge;
}

#left_section_header {
    margin-top: 2px;
    margin-bottom: 15px;
    text-shadow: 3px 3px red;
}

#left_section_header_globus {
    margin-bottom: -10px;
}

#left_navigation_link {
    color: yellow;
}

#left_navigation_button {
    color: black;
    background-color: rgb(66, 255, 59);
    border-color: yellow;
    border-radius: 5px;
    border-width: 5px;
    margin-bottom: 2px;
    width: 100%;
}

#left_section_hr {
    display:block;
    border:0px;
    height:10px;
    background-image:url('assets/0126-slime-ezgif.com-crop.gif');
}

#right {
    width: 25%;
}

#right_section {
    margin-bottom: -10px;
    padding: 15px 2px 15px 2px;
    background-color: black;
    color: rgb(251, 0, 255);

    border-image: linear-gradient(to bottom, rgb(0, 255, 255), rgb(251, 0, 255)) 1;

    border-radius: 5px 5px 0px 0px;
    border-width: 3px;
    border-style: ridge ridge none ridge;
}

#right_section_hr {
    display:block;
    border:0px;
    height:10px;
    background-image:url('assets/0126-slime-ezgif.com-effects.gif');
}

#right_section_header {
    margin: 0px 1px 3px 1px;
    text-shadow: 3px 3px purple;
    color: rgb(0, 255, 255);
}

#content {
    width: 80%;
    margin-right: 3px;
    margin-left: 3px;
}

#content_section {
    margin-bottom: 20px;

    padding: 5px 20px 20px 20px;

    border: 5px;
    border-style: ridge;
    border-color: lightskyblue; 
    border-radius: 5px;
    background-color: black;
    color: white
}

#content_section_header {
    margin: 0 auto;

    border-style: ridge;
    border-color: lightblue; 
    text-shadow: 3px 3px 3px blue;
    border-width: 3px;

    font-size: 30px;

    background-image: linear-gradient(to bottom, rgba(0, 157, 255, 255), rgba(0, 0, 0, 0)) ;

    color: white;
}

#content_section_header_h3 {
    display: inline;
    margin: 0 auto;
    font-size: x-large;
}

button.content_button {
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(38, 0, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-width: 2px;
    text-shadow: 2px 2px 3px white;
}

#quiz_holder {
    margin-bottom: 10px;
    margin-top: 10px;

    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-style: double;
    border-width: 4 px;
    border-radius: 25px;
    text-align: center;
}

#quiz_question {
    height: 15%;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 15px;
}

#quiz_result {
    height: 70%;
}

#collection_select {
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(38, 0, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-width: 2px;
    text-shadow: 2px 2px 3px white;
}

#database_select {
    color: rgb(0, 255, 255);
    font-weight: bold;
    background-color: rgb(251, 0, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-width: 2px;
    text-shadow: 2px 2px 3px white;
}

#database_load {
    color: rgb(0, 255, 255);
    font-weight: bold;
    background-color: rgb(251, 0, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-width: 2px;
    text-shadow: 2px 2px 3px white;
}

#database_load_text {
    color: rgb(0, 255, 255);
    font-weight: bold;
    background-color: rgb(251, 0, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-width: 2px;
    text-shadow: 2px 2px 3px white;
}

div.quiz_variant {
    width: 90%;
    height: 30px;

    padding: 10px 0px 10px 0px;
    margin: 0px auto 0px auto;
    border-style: solid none none none;

    font-style: oblique;
    font-size: x-large;
    color: white;

    background: none;
}

div.quiz_variant:hover {
    width: 90%;
    height: 30px;

    font-style: oblique;
    font-size: x-large;
    color: white;

    background-color: rgba(255, 255, 255, 0.2)
}

#wrong_quiz_variant {
    background-color: rgba(255, 90, 90, 0.49);
    text-decoration: line-through;
}

#quiz_streak {
    display: inline;
}

#miku_dancing {
    float: right;
    margin: 0 0 0 15px;
}

#footer {
    height: 25px;
    color: white;

    padding-bottom: 2px;

    border: 2px;
    border-style: ridge;
    border-color: rgb(255, 0, 64); 
    border-radius: 5px;
    background-color: black;
}

.card_holder {
    width: 320px;
    height: 160px;
    perspective: 600px;
    margin-bottom: 20px;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 0.5s;
}

.card.flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card_face {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
}

.card_face_front {
    color: lightgreen;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;

    border-radius: 15px;
    border-style: dashed;
    border-color: lightgreen;
}

.card_face_back {
    color: lightskyblue;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;

    border-radius: 15px;
    border-style: dashed;
    border-color: lightskyblue;

    transform: rotateY(180deg);
}

#typing_game_field {
    width: 80%;
    font-size: 40px;
    text-align: center;
    background-color: transparent;
    color:white;
    margin-bottom: 10px;

    border-style: ridge;
    border-color: darkslategrey;
    border-width: 5px;

    padding-top: 10px;
    padding-bottom: 10px;
}

#typing_game_question {
    width: 80%;
    font-size: 40px;
    text-align: center;
    background-color: transparent;
    color:white;
    margin-bottom: 10px;

    padding-bottom: 10px;
}

#typing_game_score {
    display: inline;
    font-size: 18px;
    margin-bottom: 5px;
}